.button {
    background-color: black;
    color: var(--color-primary);
    border-radius: 12px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    padding: 10px 16px;
    margin: 14px;
    Width: 157px;
    Height: 40px;
    font-size:medium;
    color: rgb(25, 218, 35);

}