.navbar{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    width: 100%;
    height: 100px;
    opacity: 0px;
    border: 1px solid black;
    background-color:rgb(13, 230, 13);

}